<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Ski Slope List</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method SkiSlopeController.listAll -->
    <form id="filter-form" th:action="@{/ski-slopes}" th:method="GET">
        <label for="name">Slope Name</label>
        <input id="name" type="text" name="name" th:value="${name}"/>

        <label for="length">Slope Length (in meters)</label>
        <input id="length" type="number" name="length" th:value="${length}"/>

        <label for="difficulty">Slope Difficulty</label>
        <select id="difficulty" name="difficulty">
            <option value="">All</option>
            <!-- For each SlopeDifficulty you should have one <option> like below  -->
            <option th:each="d : ${difficulties}"
                    th:value="${d}"
                    th:text="${d}"
                    th:selected="${difficulty != null && difficulty == d}">[slopeDifficulty]</option>
        </select>

        <label for="skiResort">Ski Resort</label>
        <select id="skiResort" name="skiResort">
            <option value="">All</option>
            <!-- For each ski resort you should have one <option> like below  -->
            <option th:each="s : ${skiResorts}"
                    th:value="${s.id}"
                    th:text="${s.name}"
                    th:selected="${skiResort != null && skiResort == s}">[skiResort.name]</option>
        </select>

        <button id="filter" type="submit">Filter</button>
    </form>

    <div>
        <!-- SkiSlopeController.showAdd -->
        <a th:href="@{/ski-slopes/add}" class="add-item" sec:authorize="hasRole('ROLE_ADMIN')">Add new ski slope</a>
    </div>

    <table>
        <tr>
            <th>Slope Name</th>
            <th>Length</th>
            <th>Difficulty</th>
            <th>Ski Resort</th>
            <th>Open/Closed</th>
            <th>Actions</th>
        </tr>
        <!-- For each ski slope you should have one <tr> like below -->
        <tr class="item" th:each="slope : ${page.getContent()}">
            <td th:text="${slope.name}">[slope.name]</td>
            <td th:text="${slope.length}">[slope.length]</td>
            <td th:text="${slope.difficulty.name()}">[slope.difficulty]</td>
            <td th:text="${slope.skiResort.name}">[slope.skiResort.name]</td>
            <td th:text="${slope.closed ? 'CLOSED' : 'OPEN' }">[slope.closed] -> OPEN/CLOSED</td>
            <td>
                <!-- SkiSlopeController.edit -->
                <a class="edit-item" th:href="@{'/ski-slopes/edit/{id}' (id=${slope.id})}" sec:authorize="hasRole('ROLE_ADMIN')">Edit</a>

                <!-- SkiSlopeController.delete -->
                <form method="post" th:action="@{'/ski-slopes/delete/{id}' (id=${slope.id})}" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button type="submit" class="delete-item">Delete</button>
                </form>

                <!-- SkiSlopeController.close -->
                <form method="post" th:if="${!slope.closed}"
                      th:action="@{'/ski-slopes/close/{id}' (id=${slope.id})}" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button type="submit" class="close-item">Close</button>
                </form>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
